
.tab
{
    display: inline-block;
    padding: 4px 5px 3px 5px;
    margin: -2px 1px 1px 1px;
    border-radius: 3px;
    border-bottom: thin solid #777;
    border-left: thin solid #777;
    border-right: thin solid #777;
    background-color: #EEE;
    cursor: pointer;
}

.tab.selected
{
    background-color: #FAFAFF;
    border-width: 2px;
    margin: -2px 0px 1px 0px;
}
