
#modal_background
{
    position: fixed;
    z-index: 1;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(200, 200, 200, 0.7);
}

#modal_container
{
    position: fixed;
    left: 50%;
    top: 40%;
    background-color: white;
    border: thin solid #777;

    overflow-y: scroll;
}


.small_modal #modal_container
{
    width: 42%;
    margin-left: -21%;
    height: 30%;
    margin-top: -10%;
}

.medium_modal #modal_container
{
    width: 62%;
    margin-left: -31%;
    height: 64%;
    margin-top: -12%;
}

.large_modal #modal_container
{
    width: 88%;
    margin-left: -44%;
    height: 80%;
    margin-top: -14%;
}

#modal_close
{
    position: absolute;
    right: 5px;
    top: 5px;
    width: 30px;
    height: 22px;
    text-align: center;
    border-radius: 2px;
    border: thin solid #777;
    cursor: pointer;
}
#modal_close span
{
    vertical-align: middle; /* Does not seem to work */
}
