
.label
{
    border-radius: 3px;
    border: thin solid #777;
    padding: 0px 5px 2px 5px;
    margin: 0 2px;
    display: inline-block;
}

.label.small
{
    font-size: 10px;
}

.label.pattern
{
    background-color: #DDF;
}
