

.button_text
{
    float: right;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
}
.button_text.left
{
    float: initial;
}
.button_text.normal_size
{
    font-size: 14px;
    padding: 4px 5px 3px 5px;
}
.button_text.large
{
    font-size: initial;
    border-radius: 3px;
    padding: 4px 5px 3px 5px;
}

.button_text.disabled
{
    cursor: initial;
    background-color: #ececec;
    border-color: #cdcdcd;
    color: #adadad;
}

.button_warning
{
    color: darkred;
}
