
.toast-container
{
    position: fixed;
    top: 20px;
    left: 0px;
    right: 0px;
    z-index: 1202; // the header seems to get a z-index of 1201 from somewhere, maybe MUI?

    .toast
    {
        --toast-margin-bottom: 10px;

        position: relative;
        margin: 0 auto;
        padding: 16px;
        border-radius: 4px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        max-width: 400px;
        width: 100%;
        margin-bottom: var(--toast-margin-bottom);
        text-align: center;
        overflow: hidden;

        animation: fade-in 0.5s, fade-out 0.5s;
        animation-fill-mode: forwards;

        @keyframes fade-in {
            from { opacity: 0; transform: translateY(-30px); }
            to   { opacity: 1; transform: translateY(0); }
        }

        // @keyframes fade-out {
        //     from { opacity: 1; transform: translateY(0); max-height: 100px; }
        //     to   { opacity: 0; transform: translateY(-30px); max-height: 100px; } }
        // }
        @keyframes fade-out {
            from { opacity: 1; transform: translateY(0); margin-top: 0px; }
            // to   { opacity: 0; transform: translateY(-30px); margin-top: -100%; }
            to   { opacity: 0; transform: translateY(0); margin-top: calc(-1 * (var(--toast-margin-bottom) + var(--toast-height))); }
        }
    }

    .toast-info
    {
        background-color: #2196F3;
        color: white;
    }

    .toast-success
    {
        background-color: #4CAF50;
        color: white;
    }

    .toast-warning
    {
        background-color: #FF9800;
        color: white;
    }

    .toast-error
    {
        background-color: #F44336;
        color: white;
    }
}
