
.connection_container
{
    pointer-events: none;
}

.connection_line_background
{
    fill: transparent;
    stroke: transparent;
    stroke-width: 10px;
}

.connection_line
{
    fill: transparent;
    stroke: black;
}

.connection_end
{
    fill: black;
}



.connection_line_background.mouseable, .connection_end.mouseable
{
    cursor: pointer;
    pointer-events: stroke;
}



.connection_line_background.hovered
{
    stroke: rgba(0,0,0,0.1);
}

.connection_line.hovered
{
    stroke-width: 3px;
    stroke-dasharray: 6px 3px;
    stroke-opacity: 1 !important;
    filter: inherit !important;
}

.connection_end.hovered
{
    fill-opacity: 1 !important;
    stroke-opacity: 1 !important;
}



.connection_end.noop_end
{
    stroke: black;
}
