
.action_list_view_content
{
    padding: 20px;
    display: flex;
    flex-direction: row;
    width: 100%;
    min-height: 100%;
    height: fit-content; // does not work
    overflow-y: scroll;
    /* margin-bottom: 100px; -- does not work as it overlaps the content */


    cursor: grab;
    &.moving
    {
        cursor: grabbing;
    }


    .action_list
    {
        min-width: 400px;
        min-height: 100%;
        height: fit-content;
    }


    h1
    {
        padding: 10px;
    }


    .icebox, .todo, .in_progress, .done_or_rejected
    {
        flex: 1;
        padding: 40px;
    }

    .icebox, .todo, .in_progress
    {
        border-right: thin solid #aaa;
    }
}


.side_panel_padding
{
    // Keep 0.25s in sync with App.tsx -> use_styles -> content_with_open_side_panel -> transition -> duration
    transition: min-width 0.25s linear;
}
