
.wcomponent_canvas_node .handles
{
    user-select: none;
    position: absolute;
    left: -12px;
    top: 3px;
    font-size: 15px;
}


.node_handle
{
    color: rgba(0,0,0,0.3);
}
.node_handle:hover
{
    color: rgba(0,0,0,1);
}

.node_handle.movement
{
    left: -11px;
}

.node_handle.explore
{
    top: 20px;
    font-size: 13px;
}

.node_handle.explore.has_nested_knowledge_view
{
    color: blue; /* Can not colour unicode characters */
}
