
$handle_width:1em;

.wcomponent_canvas_node .handles
{
    user-select: none;
    position: absolute;
    top: 0; right: auto; bottom:auto; left: 0;
    font-size: $handle_width;
	background:rgba(255, 255, 255, 0.7)
}


.node_handle
{
    color: rgba(0,0,0,0.3);
}
.node_handle:hover
{
    color: rgba(0,0,0,1);
}

.node_handle.movement
{
    left: $handle_width * 0.5;
}

// .node_handle.explore
// {
//     // top: 20px;
//     // font-size: 13px;
// }

.node_handle.explore.has_nested_knowledge_view
{
    color: blue; /* Can not colour unicode characters */
}
