
$handle_width:1em;

.wcomponent_canvas_node .handles
{
    user-select: none;
    position: absolute;
    top: 0; right: auto; bottom: auto; left: -24px;
    font-size: $handle_width;
    width: 25px; // I do not understand how this works but it makes it slightly wider
    // background:rgba(255, 255, 255, 0.7)
}


.node_handle
{
    color: rgba(0,0,0,0.3);
    min-width: $handle_width * 1.5;
    border-radius: 3px;
    transition: background-color 0.2s, color 0.2s;
    cursor: pointer;
}
.node_handle:hover
{
    color: rgba(0,0,0,1);
}


.node_handle.movement
{
    cursor: move;
}

.node_handle.explore
{
    &.has_nested_knowledge_view
    {
        color: black; /* Can not colour unicode characters */
    }

    &.current_but_no_parent
    {
        color: pink;

        &:hover
        {
            color: red;
        }
    }
}
