.wcomponent_canvas_node.connectable_canvas_node.graph_node .node_main_content
{
    height: initial;
    min-height: 80px;
    text-overflow: initial;
    white-space: initial;
    overflow: initial;
}

.node_title
{
    min-height: 18px;
    display: block;
}

.node_validity_container, .node_state_container
{
    display: inline-flex;
    border-top: thin solid #CCC;
    padding: 2px;
    width: 100%;
    align-items: center;
}


.node_is_selected
{
    z-index: 97;
}

.node_is_current_item
{
    z-index: 98;
}

.node_is_highlighted
{
    z-index: 99;
}

.node_is_moving
{
    z-index: 100;
}

.node_is_action > .node_main_content
{
    box-shadow: inset orange 0px 0px 5px 3px;
}


/* compact / presentation / consumption */
.wcomponent_canvas_node.compact_display .node_main_content .node_title
{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
