@use 'sass:math';
$scales: 'seconds', 'minutes', 'hours', 'days', 'weeks', 'months', 'years';

.time_view {
    $grid_color:grey;
    overflow-x: auto;
    overflow-y:hidden;
    border:2px red solid;


    .rotater {
        white-space: nowrap;
        transform:rotate(90deg);
        transform-origin:center bottom;
    }

    .scroll_area_y {
        overflow-y: auto;
        overflow-x:hidden;
    }

    .thing {
        border:2px green solid;
    }

    .vaps .vap {
        z-index:1;

        &:hover { z-index:9; }
    }

    .timeline {
        .unit {
            &:before {
                content:"";
                position:absolute;
                top:0; right:50%; bottom:0;
                width:0;
                border-left:1px dotted rgba(black, 0.25)
            }
        }
    }
}