@use 'sass:math';
$scales: 'seconds', 'minutes', 'hours', 'days', 'weeks', 'months', 'years';
.time_view {
    $grid_color:grey;

    .cdate {
        .rotater {
            transform:rotate(90deg);
            transform-origin:left bottom;
        }
    }
    .visible_timeline {

        @each $scale in $scales {
            .#{$scale} { display:none; }
        }

        @each $scale in $scales {
            &.#{$scale}  .#{$scale} { display:inline; }
        }

        .unit {
            z-index:100;
            transition-property: all;
            transition-duration: 0.25s;
            transition-timing-function: ease-in-out;

            &:before, &:after {
                content:"";
                position:absolute;
                top:0; right:0; bottom:-100vh; left:0;
                z-index:1;
                background-size: 100%, 100%;
                background-image: linear-gradient(to right, rgba($grid_color, 0.25) 1px, transparent 1px)
            }
            &:after {
                background-image: linear-gradient(to right, rgba($grid_color, 0.125) 1px, transparent 1px)
            }
        }

        &.months .unit:after {
            background-size: 25%, 100%;
        }
    }

    // .wc { border:1px teal solid}
    // .vap { border:1px yellowgreen solid}

    .wc, .vap {
        // zoom: 0.85;
        transform:translate(-50%, 0)
    }
}