

#graph_container
{
    cursor: move;
    background-image:
        linear-gradient(to right, #EEE 1px, transparent 1px),
        linear-gradient(to bottom, #EEE 1px, transparent 1px);
    overflow: hidden;
    text-align: left;
    vertical-align: top;
}

#graph_visuals_container
{
    overflow: visible;
    position: relative;
    transform-origin: left top;
    height: 100%;
}

#graph_container svg
{
    overflow: visible;
    pointer-events: none;
}

.visual
{
    position: absolute;
    width: 200px;
    cursor: pointer;
}


.node.mouseable
{
    cursor: pointer;
}
.node .node_main_content
{
    padding: 5px 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    user-select: none;
    border: thin solid #555;
    border-radius: 5px;
    background-color: #FCFCFC;
}

.node.focused
{
    z-index: 100;
}



.highlighting_connection_lines .connection_line
{
    stroke: #BBB;
}
.highlighting_connection_lines .connection_end
{
    fill: #BBB;
}

.highlighted.connection_line
{
    stroke: blue;
}
.highlighted.connection_end
{
    fill: blue;
}
