
.connectable_canvas_node
{
    width: 250px;
    padding: 6px 10px;
}

.connectable_canvas_node.graph_node .node_main_content
{
    min-height: 36px;
    white-space: normal;
}

.connection_terminal {
    position: absolute;
    background-color: white;
    border: thin solid #555;
}

.connection_terminal:hover
{
    box-shadow: 0 0 6px blue;
    background-color: rgb(53, 130, 247);
}
