
// Surely there must be a better way than this for getting link and text color inheritance?

// Keep in sync with display.ts -> COLOURS
.color_green
{
    color: #C8F7B8;
}

.color_yellow
{
    color: #FDE6A8;
}

.color_blue
{
    color: #C5D6FD;
}

.color_red
{
    color: #F7D2DE;
}

.color_white
{
    color: #FFF;
}



// Putting .node_title as quick hack to override Material-UI stylesheets
.color_light
{
    .node_title
    {
        color: rgb(255, 255, 255);
    }
    .node_title a
    {
        color: rgb(195, 195, 255);
    }
}

// TODO move this to WComponentCanvasNode.scss
.sub_state_type_indicators
{
    .sub_state_type_status__set
    {
        color: rgba(50, 50, 50, 0.8);
        fill: rgba(50, 50, 50, 0.8);
    }

    .sub_state_type_status__not_set
    {
        color: rgba(200, 200, 200, 0.4);
        fill: rgba(200, 200, 200, 0.4);
    }

    .sub_state_type_status__invalid
    {
        color: rgba(200, 0, 0, 0.8);
        fill: rgba(200, 0, 0, 0.8);
    }
}

.color_light .sub_state_type_indicators
{
    .sub_state_type_status__set
    {
        color: rgba(200, 200, 200, 1);
        fill: rgba(200, 200, 200, 1);
    }

    .sub_state_type_status__not_set
    {
        color: rgb(76, 76, 76);
        fill: rgb(76, 76, 76);
    }

    .sub_state_type_status__invalid
    {
        color: rgba(255, 100, 100, 1);
        fill: rgba(255, 100, 100, 1);
    }
}
