

.view_breadcrumb
{
    position: fixed;
    z-index: 100;
    display: flex;
    opacity: 0;
}

.view_breadcrumb:hover
{
    opacity: 1;
}

.view_breadcrumb div
{
    padding: 5px;
}

.view_breadcrumb .routing
{
    display: flex;
}
