.description_label
{
    font-size: 11px;
    color: grey;
}


/* Styles markdown quotes */
blockquote p {
    border-left: thin solid #aaa;
    padding-left: 4px;
}



// // https://www.digitalocean.com/community/tutorials/css-scrollbars
// /* Works on Firefox */
// * {
//     scrollbar-width: medium;
//     // scrollbar-color: blue orange;
// }

// /* Works on Chrome, Edge, and Safari */
// *::-webkit-scrollbar {
//     width: 10px;
//     height: 12px;
// }

// *::-webkit-scrollbar-track {
//     // background: #555;
// }

// *::-webkit-scrollbar-thumb {
//     background-color: #ccc;
//     border-radius: 10px;
//     // border: 3px solid #555;
// }

.app_header
{
    margin-right: 0px;
    width: 100%;
    max-width: 100%;
    min-width: 0px;

    // Quick hack to allow the create "+" buttons to be visible on the acitons list page on a mobile screen.
    max-height: 80px;
    overflow-y: auto;
    // // Hide scroll bar
    // &::-webkit-scrollbar
    // {
    //     width: 0px;
    //     background: transparent; /* make scrollbar transparent */
    // }
}
