

.editable_list_entry, .form_section
{
    border: thin solid rgba(73, 98, 167, 0.2);
    border-radius: 3px;
    padding: 3px;
    background-color: white;
}
.form_section.hidden_border
{
    border: thin solid rgba(0, 0, 0, 0);
}


.editable_list_entry.padded
{
    margin-top: 30px;
    margin-bottom: 30px;
}


.editable_list_entry .summary_header
{
    display: flex;
}

.editable_list_entry .summary_header .summary
{
    width: 100%;
}

.editable_list_entry.not_collapsable .expansion_button
{
    display: none;
}

.editable_list_entry .expansion_button
{
    margin-left: auto;
    border: thin solid #bbb;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 25px;
    line-height: 0.1;
    padding: 0px 3px;
    vertical-align: super;
    height: 17px;
}
.editable_list_entry > * > .expansion_button:before
{
    content: '\2304';
}
.editable_list_entry.expanded > * > .expansion_button:before
{
    font-size: 18px;
    line-height: initial;
    vertical-align: initial;
    content: '\2303';
}


.editable_list_entry.in_future .summary
{
    color: #bbb;
}
.editable_list_entry.focused .summary
{
    font-weight: 800;
}
/*
.editable_list_entry .details
{
    display: none;
}
.editable_list_entry.expanded > .details
{
    display: initial;
} */
