
.editable_list .summary_header
{
    display: flex;
}

.editable_list .summary_header .summary
{
    width: 100%;
}

.editable_list.not_collapsable .expansion_button
{
    display: none;
}

.editable_list .expansion_button
{
    margin-left: auto;
    border: thin solid #bbb;
    border-radius: 3px;
    margin-right: 10px;
    cursor: pointer;
    font-size: 25px;
    line-height: 0.1;
    padding: 0px 3px;
    vertical-align: super;
    height: 17px;
}
.editable_list .expansion_button:before
{
    content: '\2304';
}
.editable_list.expanded .expansion_button:before
{
    font-size: 18px;
    line-height: initial;
    vertical-align: initial;
    content: '\2303';
}


.editable_list.in_future .summary
{
    color: #bbb;
}
.editable_list.focused .summary
{
    font-weight: 800;
}

.editable_list .details
{
    display: none;
}
.editable_list.expanded > .details
{
    display: initial;
}
