@use 'sass:math';


.value_and_prediction_set_summary
{
    $max_elements: 6;

    @for $i from 1 through $max_elements {
        .value_and_prediction:nth-child(#{$i}) {
            background-color: rgba(255, 255, 255, math.div($max-elements - $i - 1, $max-elements));
        }
    }

    .value_and_prediction {
        transition-delay:0;
        transition-duration:0.5s;
        transition-property: all;
        transition-timing-function:ease-in-out;
    }

    &:hover {
        .value_and_prediction {
            flex-basis:auto !important;
            max-height: 50%;
            flex-grow:1;
            flex-shrink:1;
        }
    }
}
