
.value_and_prediction_sets, .value_and_prediction
{
    border: thin solid rgba(73, 98, 167, 0.2);
    border-radius: 3px;
    padding: 3px;
}

.value_and_prediction_sets
{
    background-color: white;
}
