

.value_and_prediction_set_summary
{
    $base-color:lightgrey;
    background-color:$base-color;

    @for $i from 1 through 10 {
        .value_and_prediction:nth-child(#{$i}) {
            background-color: darken($base-color, $i * 10%);
        }
    }

    .value_and_prediction {
        transition-delay:0;
        transition-duration:0.5s;
        transition-property: all;
        transition-timing-function:ease-in-out;

    }

    &:hover {
        .value_and_prediction {
            flex-basis:auto !important;
            max-height: 50%;
            flex-grow:1;
            flex-shrink:1;
        }
    }
}
