
.value_and_prediction_sets, .value_and_prediction
{
    border: thin solid rgba(73, 98, 167, 0.2);
    border-radius: 3px;
    padding: 3px;
}

.value_and_prediction_sets
{
    background-color: white;
}

.value_and_prediction_sets .datetimes
{
    display: flex;
    /* width: 70%; */
    flex-direction: column;
}
.value_and_prediction_sets .datetime_section
{
    display: flex;
    padding: 2px 0;
}
.value_and_prediction_sets .datetime_section .datetime_title
{
    width: 100px;
}
.value_and_prediction_sets .datetime_section .datetime_value
{
    width: 200px;
}
