
.statement_probability
{
    display: inline-flex;
    flex-direction: column;
}

.statement_probability > div
{
    border: thin solid black;
}
.statement_probability > div > div > div
{
    margin: 5px;
    padding: 5px;
}

.statement_probability .top_row
{
    display: flex;
    flex-direction: row;
}

.statement_probability .bottom_row
{
    /* text-align: center; */
}
