
.statement_probability_explorer
{
    text-align: center;
}

.statement_probability_explorer .statement
{
    font-size: 20px;
    padding: 20px;
    margin: 20px;
    border: thin solid #aaa;
    display: inline-block;
    width: 720px;
}
