


.connection_container
{
    &.connection_type_relation_link .connection_line
    {
        stroke-dasharray: 2 10;
        &.hovered
        {
            stroke-dasharray: none;
        }
    }

    &.connection_type_judgement .connection_line,
    &.connection_type_objective .connection_line
    {
        stroke-dasharray: 10 10;
        &.hovered
        {
            stroke-dasharray: none;
        }
    }

    &.negative_connection_effect .connection_line,
    &.negative_connection_effect .connection_end
    {
        stroke: orangered;
    }
    &.negative_connection_effect .connection_end
    {
        fill: orangered;
    }

    &.no_connection_effect .connection_line,
    &.no_connection_effect .connection_end
    {
        stroke: #aaa;
    }
}
