

.multi_autocomplete .selected_option
{
    border: thin solid #aaa;
    border-radius: 3px;
    padding: 3px 5px;
    margin: 5px 3px;
}


/* .multi_autocomplete .selected_option.not_clickable
{
    cursor: default;
} */
/* .multi_autocomplete .selected_option.clickable
{
    cursor: pointer;
}
 */
