.editable_field.invalid input[type="text"]:focus, .editable_field.invalid textarea:focus
{
    background-color: pink;
}

.editable_percentage
{
    width: 120px; /* Width 70 needed to cope with "100", Width 120px needed to make it not overlap with neighbour */
    display: inline-flex;
}
.editable_percentage .editable_field input[type="text"]
{
    text-align: right;
}

.no_entry
{
    border: thin solid grey;
}
