
.hardcoded-MuiOutlinedInput-notchedOutline {
    border-color: rgba(0, 0, 0, 0.23);
}

.hardcoded-PrivateNotchedOutline-root-67
{
    top: -5px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0 8px;
    overflow: hidden;
    position: absolute;
    border-style: solid;
    border-width: 1px;
    border-radius: inherit;
    pointer-events: none;
}

.hardcoded-PrivateNotchedOutline-legendLabelled-69 {
    width: auto;
    height: 11px;
    display: block;
    padding: 0;
    font-size: 0.75em;
    max-width: 0.01px;
    text-align: left;
    transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
    visibility: hidden;
}

.hardcoded-PrivateNotchedOutline-legendNotched-70 {
    max-width: 1000px;
    transition: max-width 100ms cubic-bezier(0.0, 0, 0.2, 1) 50ms;
}
