
.judgement_badge
{
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin: 0px 2px;
    display: inline-block;

    &.medium
    {
        width: 25px;
        height: 25px;
    }
}

.judgement_badge.positive
{
    /* background-color: rgb(56, 175, 35); */
    background-color: rgb(64, 167, 31);
}

.judgement_badge.negative
{
    background-color: rgb(175, 35, 35);
}

.judgement_badge.inactive
{
    background-color: rgb(105, 105, 105);
}



.judgement_badge.improving svg
{
    stroke: #40dd21;
    fill: #40dd21;
}

.judgement_badge.stable svg
{
    stroke: #ffff00;
    fill: #ffff00;
}

.judgement_badge.worsening svg
{
    stroke: #ff5555;
    fill: #ff5555;
}

.judgement_badge.unknown svg
{
    stroke: #ddd;
    fill: #ddd;
}
