


.advanced_options_title
{
    transition: background-color 200ms linear;
    cursor: pointer;
    background-color: white;
    border: none;
}


.advanced_options_title:hover
{
    background-color: #fafafa;
}
