#storage_info_button
{
    min-width: 30px;
}

.storage_name
{
    max-width: 0px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    transition: max-width 0.5s;
}

#storage_info_button:hover .storage_name
{
    max-width: 200px;
}
