
.summary_container
{
    flex-direction: column;
    width: 100%;
}

.summary_row
{
    display: flex; // Allows date time and value to be on separate line from confidence and probability
    flex-direction: row;
}

.summary_row > div {
    /* flex: 2; */
    margin: 3px;
}

.summary_container .datetimes {
    flex: 3;
}
